aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
asttokens==3.0.0
attrs==25.4.0
awesomeversion==25.8.0
backoff==2.2.1
decorator==5.2.1
deepmerge==2.0
executing==2.2.1
frozenlist==1.8.0
idna==3.11
ifaddr==0.2.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
markdown-it-py==4.0.0
matplotlib-inline==0.2.1
mdurl==0.1.2
multidict==6.7.0
parso==0.8.5
pexpect==4.9.0
prompt_toolkit==3.0.52
propcache==0.4.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
Pygments==2.19.2
pyipp==0.17.2
pysnmp==7.1.22
rich==14.2.0
stack-data==0.6.3
traitlets==5.14.3
wcwidth==0.2.14
yarl==1.22.0
zeroconf==0.148.0
